/*Общий контейнер:*/

.buttons {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Размеры и вид кнопок:*/

.buttons__items {
	width: 42px;
	height: 42px;
	background-size: cover;
}

/*Задание фоновых изображений кнопкам:*/

.buttons__item_1 {
	background-image: url(../img/Rectangle_left_opacity.svg);
}

.buttons__item_2 {
	padding-left: 1px;
	padding-right: 1px;
	background-image: url(../img/Rectangle_center_opacity.svg);
}

.buttons__item_3 {
	background-image: url(../img/Rectangle_right_opacity.svg);
}

/*Центрирование иконок на кнопках:*/

.buttons__icons {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Изменения при наведении:*/

.buttons__item_1:hover {
	transition: 0.5s;
	background-image: url(../img/Rectangle_left.svg);
	
}

.buttons__item_2:hover {
	transition: 0.5s;
	background-image: url(../img/Rectangle_center.svg);
}

.buttons__item_3:hover {
	transition: 0.5s;
	background-image: url(../img/Rectangle_right.svg);
}