/*Общий контейнер:*/

.buttons {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Размеры и вид кнопок:*/

.buttons__items {
	width: 40px;
	height: 40px;
	opacity: 0.7;
	background-size: cover;
}

/*Задание фоновых изображений кнопкам:*/

.buttons__item_1 {
	background-image: url(../img/Rectangle_left.png);
}

.buttons__item_2 {
	background-image: url(../img/Rectangle_center.png);
}

.buttons__item_3 {
	background-image: url(../img/Rectangle_right.png);
}

/*Центрирование иконок на кнопках:*/

.buttons__icons {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Изменения при наведении:*/

.buttons__item_1:hover {
	transition: 0.3s;
	opacity: 1;
}

.buttons__item_2:hover {
	transition: 0.3s;
	opacity: 1;
}

.buttons__item_3:hover {
	transition: 0.3s;
	opacity: 1;
}

/*Размеры иконок:*/

.buttons__humanicon {
	width: 13px;
	height: 17px;
}

.buttons__blockicon {
	width: 13px;
	height: 17px;
}